<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous CMS Demo2</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="main"><%- app %></div>
    <script>
      window.initState = <%- initState %>;
    </script>
    <script src="/js/app.bundle.js"></script>
  </body>
</html>
